.nav_bar {
  width: 100%;
  height: 30%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.nav_bar img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
